@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	min-height: 100vh;
	background: #6cb1ff;
}
.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.popup .contentBox{
	position: relative;
	width: 600px;
	height: 400px;
	background: #fff;
	border-radius: 20px;
	display: flex;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.popup .contentBox .imgBx{
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup .contentBox .imgBx:before{
	content: '';
	position: absolute;
	width: 250px;
	height: 250px;
	background: #e7ffe0;
	border-radius: 50%;
}
.popup .contentBox .imgBx img{
	position: relative;
	max-width: 250px;
	z-index: 1;
}
.popup .contentBox .textBx{
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup .contentBox .textBx h3{
	color: #333;
	line-height: 1em;
	font-weight: 300;
	font-size: 2em;
}
.popup .contentBox .textBx h2{
	font-size: 4em;
	color: #ff4d54;
	line-height: 1em;	
}
.popup .contentBox .textBx h2 span{
	color: #333;
	font-size: 0.75em;
	text-transform: uppercase;
}
.popup .contentBox .textBx p{
	font-weight: 300;
}
.popup .contentBox .textBx a{
	display: inline-block;
	padding: 10px 20px;
	background: #ff4d54;
	color: #fff;
	margin-top: 15px;
	text-decoration: none;
	border-radius: 10px;
}
.popup .contentBox .close{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: #f3f3f3 url(./images/close.png);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
	cursor: pointer;
	border-radius: 50%;
	z-index: 10;
}

@media (max-width: 768px){
	.popup .contentBox{
		width: 300px;
		height: auto;
		flex-direction: column;
	}
	.popup .contentBox .imgBx{
		height: 200px;
		transform: translateY(-50px);
	}
	.popup .contentBox .imgBx::before{
		background: #fff;
	}
	.popup .contentBox .textBx{
		height: auto;
		text-align: center;
		padding: 20px;
		padding-top: 0;
	}
	.popup .contentBox .close{
		top: -50px;
		right: -10px;
		background: #fff url(./images/close.png);
		background-repeat: no-repeat;
		background-size: 10px;
		background-position: center;
	}
}